@media (max-width: 1200px) {
    .promo {
        background: none;
        background-image: url(../img/main/bg_1.jpg);
        background-size: cover;
        &__wrapper {
            margin-right: 29px;
        }
    }
}
@media (max-width: 991px) {
    .promo {
        padding-bottom: 59px;
        &__header {
            font-size: 39px;
        }
        &__subheader {
            font-size: 23px;
        }
    }
}
@media (max-width: 767px) {
    .promo {
        background: none;
        background-image: url(../img/main/bg_1.jpg);
        background-size: cover;
        padding-bottom: 59px;
        &__header {
            font-size: 39px;
        }
        &__wrapper {
            align-items: center;
            margin-right: 0;
        }
        &__subheader {
            font-size: 23px;
        }
        &__icons {
            margin-top: 45px;
        }
    }
}
@media (max-width: 575px) {
    .promo {
        min-height: 593px;
        background: none;
        background: url(../img/main/bg_1.jpg) center (center/cover) no-repeat;
        background-position: 5% 0%;
        &__wrapper {
            align-items: center;
            margin-top: 99px;
        }
        &__header {
            padding-top: 30px;
            font-size: 24px;
            line-height: 26px;
        }
        &__subheader {
            margin-top: 5px;
            line-height: 21px;
            font-size: 18px;
            text-align: center;
        }
        &__icons {
            display: none;
        }
        &__link {
            margin-top: 6px;
        }
    }
}
